.productos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.productos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
}

.productos h2 {
  font-size: 40px;
  font-weight: bold;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-precio {
   font-size: 30px;
   font-weight: bold;
  margin-top: 10px;
}