body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 100%;
}

.principal {
  background: #fefefe;
  padding: 3em 0;
}

.titulo-first {
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em;
  clear: left;
  text-align: center;
}

.titulo-first:first-letter {
  font-weight: bold;
}

/* p:first-line {
  font-style: bold;
}

.titulo-first:before {
  content: "[";
}

.titulo-first:after {
  content: "]";
}

p.first-line {
  font-style: italic;
} */

.titulo-secondary {
  text-transform: capitalize ;
  text-align: center;
}

.principal p {
  margin: 0 0 2em;
  font-size: 20px; 
  text-align: center;
}

.principal em {
  font-style: italic;
}
em strong {
  color: blueviolet;
}

.mission {
  font-size: 25px;
}

.diferenciales {
  background: #888888;
  padding: 20px;
  width: 940px;
  margin: 0 auto;
}

.titulo-first,
.items {
  text-transform: capitalize;
}

.items {
  font-style: italic;
  line-height: 1.8;
}

.items:before {
  content: "â­";
}

.utensilios {
  width: 300px;
  border-radius: 15px;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#FEFEFEFE, #888888);
  /* background: radial-gradient(white, black, pink, gray); */
}

.mapa p {
  margin: 0  0 2em;
  text-align: center;
}

.mapa-contenido {
  width: 940px;
  margin: 0 auto;
}

.contenido-deferenciales {
  width: 640px;
  margin: 0 auto;
  float: left;
}

.details {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.items:first-child {
/* 
  .items:nth-child(1|2n|) -> Elegir que hijo pintar
  .items:last-child -> ultimo
*/
  font-weight: bold;
}

.imagen--diferenciales {
  width: 60%;
  border-radius: 10px;
}

.video {
  width: 560px;
  margin: 1em auto;
}

