body {
}

#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 20px;
}

.titulo-principal {
  padding-left: 30px;
  text-transform: capitalize;
}

.titulo-centro {
  text-transform: capitalize ;
  text-align: center;
}

p {
  font-size: 20px; 
  text-align: center;
}

em strong {
  color: rebeccapurple;
}

#mission {
  font-size: 25px;
}

.diferenciales {
  background: #fff;
  padding: 20px;
}

.titulo-centro,
.items {
  text-transform: capitalize;
}

.items {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagen--diferenciales {
  width: 50%;
  border-radius: 10px;
}